altgraph==0.17.5
asgiref==3.11.1
colorama==0.4.6
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyJWT==2.13.0
PyOTP==2.10.0
pywin32-ctypes==0.2.3
qr==0.6.0
qrcode==8.2
setuptools==83.0.0
sqlparse==0.5.5
tzdata==2026.2
waitress==3.0.2
