.progress-container{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin:30px 0;
}

.progress-item{
    display:flex;
    flex-direction:column;
    align-items:center;

    font-size:13px;
}

.dot{
    width:18px;
    height:18px;

    border-radius:50%;
    margin-bottom:8px;
}

.dot.completed{
    background:#00c853;
}

.dot.active{
    background:#1976d2;
}

.dot.pending{
    background:#e53935;
}